<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 - Om sidan</title>
</head>
<body>
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/">Startsida </a></li>
            <li><a href="/addCourse">Lägg till kurs</a></li>
            <li><a href="/about" class="currentPage" >Om sidan</a></li>
        </ul>
    </nav>
    <div class="divAbout">
        <h1>Om sidan</h1>

        <h3>Beskrivning och syfte</h3>
        <p>Denna hemsida visar de kurser som jag läst under min tid som student på webbutvecklings programmet.</p>

        <h3>Databas</h3>
        <p>Jag använder mig utav MySQL som databas-server, där jag använder XAMPP för att starta den.</p>

        <h3>Slutsatser</h3>
        <p>Det är väldigt användbart att kunna hämta och lägga till information i en databas, samt mycket lättare (enligt mig) att ha kontroll på vad man har lagrat istället för localstorage. </p>
        <p>Jag kan även påpeka att MySQL har strulat mycket under arbetet, helt plötsligt mitt i arbetet kunde jag ej starta servern via XAMPP igen, spelade ingen roll om jag ändra port eller vad jag än testade. Det slutade med att jag installerade om XAMPP och då fungerade allt som innan igen. Inför kommande projekt kanske de är värt att kolla på en annan databas-server.</p>
    </div>
    
</body>
</html>