<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 - L채gg till kurs</title>
</head>
<body>
    
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/" >Startsida </a></li>
            <li><a href="/addCourse" class="currentPage">L채gg till kurs</a></li>
            <li><a href="/about" >Om sidan</a></li>
        </ul>
    </nav>

    <div class=divForm>
        <h1>L채gg till kurs</h1>
        
        
        <% if (typeof error !== "undefined" && error !== null) { %> 
            <div id="divP"> <p><%= error %></p> </div>
        <% } %>
        
        <form method="POST" action="/addCourse">
           
            <label for="coursecode">Kurskod:</label>
            <input class="otherInput" type="text" id="coursecode" name="coursecode" >

            <label for="coursename">Kursnamn:</label>
            <input class="otherInput" type="text" id="coursename" name="coursename" >
            

            <label for="syllabus">L채nk:</label>
            <input class="otherInput" type="text" id="syllabus" name="syllabus" >
            
            
            <label for="progression"></label>
            <select id="progression" name="progression" required>
            <option value="">Progression</option>
                <option value="A">A</option>
                <option value="B">B</option>
            
            
        <input class="submitInput" type="submit" >

        </form>

        
       
    </div>

</body>
</html>