<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 - L채gg till kurs</title>
</head>
<body>
    <h1>L채gg till kurs</h1>
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/" >Startsida </a></li>
            <li><a href="/addCourse" class="currentPage">L채gg till kurs</a></li>
            <li><a href="/about" >Om sidan</a></li>
        </ul>
    </nav>

    <div class=divForm>
        <form method="post" action="/create">
            
            <label for="name">Kurskod:</label>
            <input type="text" id="name" name="message">

            <label for="name">Kursnamn:</label>
            <input type="text" id="name" name="message">
            

            <label for="name">L채nk:</label>
            <input type="text" id="name" name="message">
            

            <label for="name">Progression:</label>
            <input type="text" id="name" name="message">
            
            <input type="submit" value="Lagra">

        </form>
    </div>
</body>
</html>