<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 -  Kurser</title>
</head>
<body>
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/" class="currentPage">Startsida </a></li>
            <li><a href="/addCourse">Lägg till kurs</a></li>
            <li><a href="/about" >Om sidan</a></li>
        </ul>
    </nav>

    <div class="courseList">
        <h1>Kurser</h1>
        <% courses.forEach(course => { %>
            <ul>
                <hr>
                <li>Kursnamn: <%= course.coursename %></li> <hr>
                
                <li>Kurskod: <%= course.coursecode %></li> <hr>
                
                <li>Länk: <a href="<%= course.syllabus %>">Kursplan</a></li> <hr>
            
                <li>Progression: <%= course.progression %></li> <hr>
            </ul>
        <% }); %>
    </div>

</body>
</html>