<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 -  Kurser</title>
</head>
<body>
    <h1>Kurser</h1>
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/" class="currentPage">Startsida </a></li>
            <li><a href="/addCourse">Lägg till kurs</a></li>
            <li><a href="/about" >Om sidan</a></li>
        </ul>
    </nav>
</body>
</html>