
body{
    width: 100vw;
    background-color: lightskyblue;
    overflow-x: hidden;
}

/*----------------------------Navigering--------------------------------------*/
.navNav {
    margin-top: 5vh;
    display: block;
}

.navUl a {
    text-decoration: none;
    font-style: none;
    border: 1px solid black;
    padding: 5px;
    font-weight: 700;
    border-radius: 10px;
    background-color: aliceblue;
}


.navUl li{
    list-style: none;
    display: inline-block;
    margin-right: 1vw;
}

.navUl a:hover {
    text-decoration: underline;
    background-color: rgb(210, 247, 210);
    font-weight: 700;
}

/*----------------------------Formulär--------------------------------------*/

.divForm{
    width: 100vw;
    margin-top: 1vh;
    
}

.divForm form{
    width:10vw;
    display:block;
    margin-left: 10vw;

}

.divForm input{
    padding: 2%;
    margin-top: 2%;
    background-color: aliceblue;
}
.submitInput{
    display: block;
}

#progression{
    margin-top: 1vh;
    width: 100px;
    margin-bottom: 1vh;
}


.divForm label{
    padding: 2%;
    margin-top: 2%;
    
}

.divForm h1{
    margin-left: 10vw;
    text-decoration: underline;
}


/*----------------------------Kurslista--------------------------------------*/

.courseList li {
    list-style: none;
    display: block;
    font-weight: 700;
}

.courseList ul {
    background-color: aliceblue;
    width: 75vw;
    padding: 1%;
    margin-left: 10vw;
    border-radius: 10px;
}

.courseList h1{
    margin-left: 10vw;
    text-decoration: underline;
}

.courseList a{
    width: 10vw;
}

/*----------------------------omsida--------------------------------------*/

.divAbout h1{
    margin-left: 10vw;
    text-decoration: underline;
}